[submodule "Submodules/googletest"]
	path = Submodules/googletest
	url = https://github.com/google/googletest
[submodule "Submodules/EverydayTools"]
	path = Submodules/EverydayTools
	url = https://github.com/Sunday111/EverydayTools
[submodule "Submodules/EverydayToolsTests"]
	path = Submodules/EverydayToolsTests
	url = https://github.com/Sunday111/EverydayToolsTests
[submodule "Submodules/WinWrappers"]
	path = Submodules/WinWrappers
	url = https://github.com/Sunday111/WinWrappers-WinWrappers
[submodule "Submodules/CMakeModules"]
	path = Submodules/CMakeModules
	url = https://github.com/Sunday111/CMakeModules
