[submodule "Submodules/VisualStudioProps"]
	path = Submodules/VisualStudioProps
	url = https://github.com/Sunday111/VisualStudioProps
[submodule "Submodules/WinWrappers"]
	path = Submodules/WinWrappers
	url = https://github.com/Sunday111/WinWrappers-WinWrappers
[submodule "Submodules/EverydayTools"]
	path = Submodules/EverydayTools
	url = https://github.com/Sunday111/EverydayTools
[submodule "Submodules/SystemsApp"]
	path = Submodules/SystemsApp
	url = https://github.com/Sunday111/SystemsApp
[submodule "Submodules/ResourceSystem"]
	path = Submodules/ResourceSystem
	url = https://github.com/Sunday111/SystemsApp-ResourceSystem
